openshift_master_default_subdomain="{{ router_lb_default_subdomain | default('apps.change.me') }}"
openshift_master_cluster_hostname="{{ master_lb_dns | default('master.change.me') }}"
openshift_master_cluster_public_hostname="{{ master_lb_dns | default('master.change.me') }}"
